{% include 'LICENSE.jinja2' %}

DEVICE_PATH := device/{{ device_info.manufacturer }}/{{ device_info.codename }}

# Architecture
{% if device_info.arch %}
TARGET_ARCH := {{ device_info.arch.arch }}
TARGET_ARCH_VARIANT := {{ device_info.arch.arch_variant }}
TARGET_CPU_ABI := {{ device_info.arch.cpu_abi }}
TARGET_CPU_ABI2 := {{ device_info.arch.cpu_abi2 }}
TARGET_CPU_VARIANT := generic
TARGET_CPU_VARIANT_RUNTIME := {{ device_info.cpu_variant }}

{% endif %}
{% if device_info.second_arch %}
TARGET_2ND_ARCH := {{ device_info.second_arch.arch }}
TARGET_2ND_ARCH_VARIANT := {{ device_info.second_arch.arch_variant }}
TARGET_2ND_CPU_ABI := {{ device_info.second_arch.cpu_abi }}
TARGET_2ND_CPU_ABI2 := {{ device_info.second_arch.cpu_abi2 }}
TARGET_2ND_CPU_VARIANT := generic
TARGET_2ND_CPU_VARIANT_RUNTIME := {{ device_info.second_cpu_variant }}

{% endif %}
{% if not device_info.device_has_64bit_arch and device_info.device_has_64bit_binder %}
TARGET_USES_64_BIT_BINDER := true

{% endif %}
{% if device_info.device_has_64bit_arch %}
# DRM
TARGET_ENABLE_MEDIADRM_64 := true

{% endif %}
# Platform
TARGET_BOARD_PLATFORM := {{ device_info.platform }}

# Properties{{ '\n' }}
{%- for partition in partitions %}
{% if partition.build_prop %}
TARGET_{{ partition.name_upper }}_PROP += $(DEVICE_PATH)/{{ partition.name }}.prop
{% endif %}
{% endfor %}

# Recovery
{% if device_info.device_pixel_format %}
TARGET_RECOVERY_PIXEL_FORMAT := {{ device_info.device_pixel_format }}
{% endif %}
TARGET_USERIMAGES_USE_EXT4 := true
TARGET_USERIMAGES_USE_F2FS := true

# Inherit the proprietary files
include vendor/{{ device_info.manufacturer }}/{{ device_info.codename }}/BoardConfigVendor.mk

