{% include 'LICENSE.jinja2' %}

DEVICE_PATH := device/{{ device_info.manufacturer }}/{{ device_info.codename }}

# Architecture
{% if device_info.arch.string == "arm" %}
TARGET_ARCH := arm
TARGET_ARCH_VARIANT := armv7-a-neon
TARGET_CPU_ABI := armeabi-v7a
TARGET_CPU_ABI2 := armeabi
TARGET_CPU_VARIANT := generic
TARGET_CPU_VARIANT_RUNTIME := {{ device_info.first_arch_cpu_variant }}

TARGET_USES_64_BIT_BINDER := true
{% endif %}
{% if device_info.arch.string == "arm64" %}
TARGET_ARCH := arm64
TARGET_ARCH_VARIANT := armv8-a
TARGET_CPU_ABI := arm64-v8a
TARGET_CPU_ABI2 :=
TARGET_CPU_VARIANT := generic
TARGET_CPU_VARIANT_RUNTIME := {{ device_info.first_arch_cpu_variant }}

TARGET_2ND_ARCH := arm
TARGET_2ND_ARCH_VARIANT := armv7-a-neon
TARGET_2ND_CPU_ABI := armeabi-v7a
TARGET_2ND_CPU_ABI2 := armeabi
TARGET_2ND_CPU_VARIANT := generic
TARGET_2ND_CPU_VARIANT_RUNTIME := {{ device_info.second_arch_cpu_variant }}
{% endif %}
{% if device_info.arch.string == "x86" %}
TARGET_ARCH := x86
TARGET_ARCH_VARIANT := generic
TARGET_CPU_ABI := x86
TARGET_CPU_ABI2 := armeabi-v7a
TARGET_CPU_VARIANT := generic
TARGET_CPU_VARIANT_RUNTIME := {{ device_info.first_arch_cpu_variant }}

TARGET_USES_64_BIT_BINDER := true
{% endif %}
{% if device_info.arch.string == "x86_64" %}
TARGET_ARCH := x86_64
TARGET_ARCH_VARIANT := x86_64
TARGET_CPU_ABI := x86_64
TARGET_CPU_ABI2 :=
TARGET_CPU_VARIANT := generic
TARGET_CPU_VARIANT_RUNTIME := {{ device_info.first_arch_cpu_variant }}

TARGET_2ND_ARCH := x86
TARGET_2ND_ARCH_VARIANT := x86
TARGET_2ND_CPU_ABI := x86
TARGET_2ND_CPU_VARIANT := generic
TARGET_2ND_CPU_VARIANT_RUNTIME := {{ device_info.second_arch_cpu_variant }}
{% endif %}

{% if device_info.device_has_64bit_arch %}
# DRM
TARGET_ENABLE_MEDIADRM_64 := true

{% endif %}
# Platform
TARGET_BOARD_PLATFORM := {{ device_info.platform }}

# Recovery
{% if device_pixel_format != None %}
TARGET_RECOVERY_PIXEL_FORMAT := {{ device_info.device_pixel_format }}
{% endif %}
TARGET_USERIMAGES_USE_EXT4 := true
TARGET_USERIMAGES_USE_F2FS := true

# Inherit the proprietary files
include vendor/{{ device_info.manufacturer }}/{{ device_info.codename }}/BoardConfigVendor.mk

