{% include 'LICENSE.jinja2' %}

{% if device_info.first_api_level %}
PRODUCT_SHIPPING_API_LEVEL := {{ device_info.first_api_level }}

{% endif %}
{% if device_info.device_uses_dynamic_partitions %}
PRODUCT_BUILD_SUPER_PARTITION := false
PRODUCT_USE_DYNAMIC_PARTITIONS := true

{% endif %}
# Overlays
PRODUCT_ENFORCE_RRO_TARGETS := *

{% if device_info.device_uses_dynamic_partitions %}
# Include GSI keys
$(call inherit-product, $(SRC_TARGET_DIR)/product/gsi_keys.mk)

{% endif %}
{% if device_info.device_uses_dynamic_partitions %}
# fastbootd
PRODUCT_PACKAGES += \
    android.hardware.fastboot@1.1-impl-mock \
    fastbootd

{% endif %}
# Rootdir
PRODUCT_PACKAGES += \{{ '\n' }}
{%- for file in rootdir_bin_files %}
    {{ file.name }} \
{% endfor %}

PRODUCT_PACKAGES += \
    {{ fstab.fstab.name }} \{{ '\n' }}
{%- for file in rootdir_etc_files %}
    {{ file.name }} \
{% endfor %}

# Soong namespaces
PRODUCT_SOONG_NAMESPACES += \
    $(LOCAL_PATH)

# Inherit the proprietary files
$(call inherit-product, vendor/{{ device_info.manufacturer }}/{{ device_info.codename }}/{{ device_info.codename }}-vendor.mk)

