{% include 'LICENSE.jinja2' %}

{% if device_info.device_uses_dynamic_partitions %}
PRODUCT_BUILD_SUPER_PARTITION := false
PRODUCT_USE_DYNAMIC_PARTITIONS := true

{% endif %}
# Overlays
PRODUCT_ENFORCE_RRO_TARGETS := *

{% if device_info.device_uses_dynamic_partitions %}
# Include GSI keys
$(call inherit-product, $(SRC_TARGET_DIR)/product/gsi_keys.mk)

{% endif %}
{% if device_info.device_uses_dynamic_partitions %}
# fastbootd
PRODUCT_PACKAGES += \
    android.hardware.fastboot@1.1-impl-mock \
    fastbootd

{% endif %}
# Soong namespaces
PRODUCT_SOONG_NAMESPACES += \
    $(LOCAL_PATH)

# Inherit the proprietary files
$(call inherit-product, vendor/{{ device_info.manufacturer }}/{{ device_info.codename }}/{{ device_info.codename }}-vendor.mk)

