#!/usr/bin/env python3
#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import sys
from pathlib import Path

# Setup ANDROID_ROOT and add extract-utils to path
MY_DIR = Path(__file__).resolve().parent
ANDROID_ROOT = MY_DIR.parents[2]

sys.path.insert(0, str(ANDROID_ROOT / 'tools' / 'extract-utils'))

from extract_utils.main import ExtractUtils, ExtractUtilsModule

namespace_imports = [
    'hardware/lineage/interfaces',
    'vendor/qcom/opensource/commonsys-intf/display',
]

module = ExtractUtilsModule(
    '{{ device_info.codename }}',
    '{{ device_info.manufacturer }}',
    namespace_imports=namespace_imports,
)

if __name__ == '__main__':
    ExtractUtils.run_setup_makefiles(module)
