#!/usr/bin/env python3
#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

from extract_utils.extract import ExtractUtils, ExtractUtilsModule

namespace_imports = [
    'hardware/lineage/interfaces',
    'vendor/qcom/opensource/commonsys-intf/display',
]

module = ExtractUtilsModule(
    '{{ device_info.codename }}',
    '{{ device_info.manufacturer }}',
    namespace_imports=namespace_imports,
)

if __name__ == '__main__':
    ExtractUtils.run_setup_makefiles(module)
